@import url(http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic);
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
}

.spacer {
  height: 64px;
  margin-bottom: 1em;
}

.nav {
  display: block;
  position: fixed;
  background-color: #00bcd4;
  height: 64px;
  box-shadow: rgba(0, 0, 0, 0.25882) 0px 2px 5px 0px;
  box-sizing: border-box;
  margin-bottom: 1em;
  z-index: 1;
  left: 0;
  right: 0;
}
.nav .nav-wrapper {
  display: block;
  height: 82px;
  top: 0;
  left: 72px;
  right: 72px;
  z-index: 2;
  position: fixed;
  font-size: 16px;
  line-height: 16px;
  padding-left: 0;
}
.nav .nav-wrapper .nav-title {
  display: block;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 64px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  font-weight: 400;
  margin: 0 auto;
  white-space: nowrap;
}

.apiForm {
  display: block;
  margin: auto;
}
.apiForm .form-control {
  margin-bottom: 1em;
}

.profile {
  border: 2px #333 solid;
  margin-top: 1em;
  padding: 1em;
}
.profile .profileImg {
  border: 1px #333 solid;
  width: 8em;
  height: 10em;
  float: left;
  margin-right: 1em;
  background-color: #333333;
}
.profile .information {
  position: relative;
  display: block;
}
