@import url(http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic);
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
}

.spacer {
  height: 64px;
  margin-bottom: 1em;
}

.nav {
  display: block;
  position: fixed;
  background-color: #00bcd4;
  height: 64px;
  box-shadow: rgba(0, 0, 0, 0.25882) 0px 2px 5px 0px;
  box-sizing: border-box;
  margin-bottom: 1em;
  z-index: 1;
  left: 0;
  right: 0;
}
.nav .icon {
  display: block;
  background: url("../img/favicon.svg") center;
  background-size: 48px;
  position: fixed;
  top: 6px;
  left: 16px;
  z-index: 2;
  height: 48px;
  width: 48px;
}
.nav .nav-wrapper {
  display: block;
  height: 82px;
  top: 0;
  left: 72px;
  right: 72px;
  z-index: 3;
  position: fixed;
  font-size: 16px;
  line-height: 16px;
  padding-left: 0;
}
.nav .nav-wrapper .nav-title {
  display: block;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 64px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  font-weight: 300;
  margin: 0 auto;
  white-space: nowrap;
}
.nav .nav-wrapper .nav-title .site-title a {
  -webkit-transition: 0.25s all cubic-bezier(0.39, 0.12, 0.5, 1);
          transition: 0.25s all cubic-bezier(0.39, 0.12, 0.5, 1);
  color: #FFF;
}
.nav .nav-wrapper .nav-title .site-title a:hover {
  text-decoration: none;
  color: #333333;
}
.nav .nav-wrapper .site-login {
  font-size: 1.5rem;
  position: fixed;
  right: 1rem;
  z-index: 3;
  white-space: nowrap;
}
.nav .nav-wrapper .site-login a {
  -webkit-transition: 0.25s all cubic-bezier(0.39, 0.12, 0.5, 1);
          transition: 0.25s all cubic-bezier(0.39, 0.12, 0.5, 1);
  color: #FFF;
}
.nav .nav-wrapper .site-login a:hover {
  text-decoration: none;
  color: #333333;
}

.apiForm {
  display: block;
  margin: auto;
}
.apiForm .form-control {
  margin-bottom: 1em;
}
.apiForm .btn-group-wrap {
  text-align: center;
}

.panel {
  margin: 1em auto;
}
.panel .thumbnail {
  width: 154.21687px;
  height: 170.66667px;
  float: left;
  margin-right: 1em;
}
.panel .information {
  line-height: 26px;
}

.reveal-animation.ng-enter {
  position: relative;
  -webkit-transition: all 0.75s cubic-bezier(0.39, 0.12, 0.5, 1);
          transition: all 0.75s cubic-bezier(0.39, 0.12, 0.5, 1);
  top: 32px;
  opacity: 0;
}
.reveal-animation.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}
.reveal-animation.ng-leave {
  position: relative;
  -webkit-transition: all 0.75s cubic-bezier(0.39, 0.12, 0.5, 1);
          transition: all 0.75s cubic-bezier(0.39, 0.12, 0.5, 1);
  top: 0px;
  opacity: 1;
}
.reveal-animation.ng-leave.ng-leave-active {
  top: 32px;
  opacity: 0;
}
